<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ControleFrequencia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <servlet-class>les22018.web.connection.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <url-pattern>/CadastrarFuncionario</url-pattern>
    </servlet-mapping>
  <servlet>
        <servlet-name>ConsultarFuncionario</servlet-name>
        <servlet-class>les22018.web.connection.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarFuncionario</servlet-name>
        <url-pattern>/ConsultarFuncionario</url-pattern>
    </servlet-mapping>
  
  
  <servlet>
        <servlet-name>CadastrarJornada</servlet-name>
        <servlet-class>les22018.web.connection.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarJornada</servlet-name>
        <url-pattern>/CadastrarJornada</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarJornada</servlet-name>
        <servlet-class>les22018.web.connection.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarJornada</servlet-name>
        <url-pattern>/ConsultarJornada</url-pattern>
    </servlet-mapping>
</web-app>